{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div class="container"
         style="background: url({% static 'images/stadium2.jpg' %}); background-size: cover;">
        <div class="overlay"
             style="text-align: center; width: 100%; margin-bottom: 240px;" >
            <h1 style="color: white; font-size: 80px; filter: brightness(100%)">CoachPro</h1>
            <h2 style="font-size: 60px; color: white">Your personalized coach</h2>
            <h3></h3>
        </div>
    </div>
{% endblock %}